/* Teacher.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #555;
  }
  
  h2 {
    color: #333;
    cursor: pointer;
  }
  
  button {
    background-color: #ddd;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #bbb;
  }

  button:disabled {
    background-color: #ccc;
    color: #888;
    cursor: default;
  }

  button:hidden {
    display: none;
  }

  button.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px; /* Adjust padding for a bit more presence */
    border: none; /* Remove border for a cleaner look */
    border-radius: 5px; /* Add border-radius for a slightly rounded appearance */
}

button.submit-button:hover {
    background-color: #45a049; /* Slightly darker color on hover */
}
  
  select,
  textarea,
  input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  span.error {
    color: red;
  }
  